
<header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="../../assets/Images/logo1.png" width="100px" height="50px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/aboutus">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Category</a>
        </li>
      </ul>

      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"><i class="fa fa-search icon" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-shopping-cart icon" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-heart icon" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" routerLink="/singin"><i class="fa fa-user icon" aria-hidden="true"></i>SignIn</a> -->
          <div class="dropdown">
            <a class="nav-link" routerLink="/singin"><i class="fa fa-user icon" aria-hidden="true"></i></a>
            <div class="dropdown-content">
              <a routerLink="/singin">SignIn</a>
              <a routerLink="/singup">SignUp</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
</header>
<router-outlet></router-outlet>
