<app-header></app-header>
<div class="container-fluid aboutpage ">
  <div class="content" data-aos="slide-up">
      <h1 style="text-align: center; color: white; font-size: 25px;">OUR STORY</h1>
      <h6 style="text-align: center;  color: white; font-size: 16px;" >A bit of history</h6>
</div>
</div>
<div class="container mt-5">
  <h3  style="text-align: center; font-size: 20px; font-family: 500;">MEET OUR TEAM</h3>
  <p class="paragraph">Our architects and designers constantly and carefully monito the environment,they accept and develop
    changes,research fashion and architectual as well as sociological,changes and transform them into
    unique design.</p>
    <div class="row justify-content-around" style="width: 100%; margin: auto; margin-top: 40px; margin-bottom: 40px;" data-aos="slide-left">
      <div class="col md-2" >
        <div class="card" >
          <img src="../../assets/Images/palak.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center; font-size: 14px;">Palak Nigam</h5>
          </div>
        </div>
      </div>
      <div class="col md-2">
        <div class="card">
          <img src="../../assets/Images/Faizaan.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center; font-size: 14px;">Faizaan Khan</h5>
          </div>
        </div>
      </div>
      <div class="col md-2">
        <div class="card">
          <img src="../../assets/Images/chamma.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center; font-size: 14px;">Chamma Parmar</h5>
          </div>
        </div>
      </div>

      <div class="col md-2">
        <div class="card" >
          <img src="../../assets/Images/jeetu.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center; font-size: 14px;">Palak Nigam</h5>
          </div>
        </div>
      </div>
      <div class="col md-2">
        <div class="card">
          <img src="../../assets/Images/varsha.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center; font-size: 14px;">Varsha Sera</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="container-fluid page " data-aos="slide-right">
      <div class="content "style="color: white;">
          <h1>OUR STORY</h1>
          <h6>A bit of history</h6>
          <p>Our architects and designers constantly and carefully monitor the envirment,they accept and devlop
            changes,research fashion and architectual,as well as sociological,changes and transform them into
            unique design.
          </p>
    </div>
    </div>


<app-footer></app-footer>
<!-- style="text-align: right; color: white; font-size: 25px;" -->
<!-- style="text-align: right;  color: white; font-size: 16px;" -->
