<section class="category mt-5">
  <h1>POPULAR PRODUCT</h1>
  <h5>Check out our latest collections</h5>
  <div class="row justify-content-around" style="width: 80%; margin: auto; margin-bottom: 40px;" >
    <div class="col-md-4 mt-5" *ngFor="let product of products" data-aos="slide-right">
      <div class="card" >
        <img [src]="product.pImage" height="170px">
        <div class="card-body">
          <h5 class="card-title">{{product.pName}}</h5>
        </div>
        <li class="list-group-item size"><span><i class="fa-solid fa-indian-rupee-sign"></i><del style="color: red;">49,000</del></span><span style="padding-left:10px;"><i class="fa-solid fa-indian-rupee-sign"></i>{{product.pPrice}}</span></li>
        <div class="card-body">
          <a routerLink="/viewdetails/{{product._id}}" class="card-link">View Details</a>
        </div>

      </div>
    </div>

  </div>

</section>
