
<div id="carouselExampleControls"class="carousel slide" data-interval="1000" data-bs-ride="carousel">
  <div class="carousel-inner img">
    <div class="carousel-item active ">
      <img src="../../assets/Images/Image_1.1.jpg" class="d-block w-100 " alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/Images/chair_5.1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/Images/Image_6.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="content">
      <div class="heading ">
        <h1>A creation that suits your personality</h1>
        <h3>We place the finest art for the finest craft for the finest people</h3>
        <button type="button" class="btn btn-outline-primary" style="padding: 10px; font-size: 14px; height: 50px; "><span><i class="fa-solid fa-cart-shopping" style="margin-right: 10px;"></i></span>SHOP NOW</button>
      </div>

  </div>
  <!-- <span><i class="fa-solid fa-cart-shopping"></i></span> -->

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
