/* .carousel-item img
{
  height: 100%;
} */

.carousel-inner img{
  height: 600px;
  width: 100px;
  position: relative;
}
.content{
 position: absolute;
 top: 50%;
 left: 50%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 text-align: center;
 transform:translate(-50%,-50%);
 -webkit-transform:translate(-50%,-50%);
 -moz-transform:translate(-50%,-50%);
 -ms-transform:translate(-50%,-50%);
 -o-transform:translate(-50%,-50%);
}
.content .heading h1{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
}
.content .heading h3{
  font-size: 16px;
  margin-bottom: 20px;
  color: white;
}

@media only screen and (max-width: 576px){
  .carousel-item img
{
  height: 500px;
  width: 300px;
}
.content .heading h1{
  font-size: 20px;
}
.content .heading h3{
  font-size: 14px;
}
}



