<app-header></app-header>
<div class="container mt-5">
  <h5 style="text-align: center; font-weight: bold;">My cart</h5>

    <div class="card" style=" text-align: center; margin-bottom: 50px; box-shadow: var(--box-shadow)">

      <div class="card-body">

        <div class="row " *ngFor="let c of cart">

        <div class="col md-4">

            <img [src]="c.pImage" class="card-img-top" alt="..."  style="height: 200px; width: 300px;" >

        </div>
         <div class="col md-4">
          <p class="card-text" >{{c.pDescription}}</p>
          <div class=" row display">
          <h6 class="col-sm-4" class="mt-3">MRP<span><del style="color: red;">{{c.pPrice}}</del></span><span ><i class="fa-solid fa-indian-rupee-sign"></i>39,000</span></h6>
          <h5 class="col-sm-4" class="mt-3 "></h5>
          <h4 class="col-sm-4" class="mt-3"><span style="margin-right: 20px;"></span>{{c.pOffers}}</h4>
          </div>

         </div>
         <div class="col-md-4 " style="padding: 75px;">
         <a  class="btn btn-primary " style="width: 120px; height: 50px; text-align: center; justify-content: center; font-size: 12px; font-weight: bold; padding: 13px;" (click)="reject()">REMOVE CART</a>

        </div>
      </div>


      </div>
      <a  class="btn btn-outline-success align-center" style="width: 120px; height: 50px; text-align: center; justify-content: center;font-size: 12px; font-weight: bold; padding: 13px; margin-left: 45%; margin-bottom: 20px;" (click)="placeOrder()">PLACE ORDER</a>
    </div>

</div>
