<app-header></app-header>
<div class="background">
  <img src="../../assets/Images/office_furniture_5.2.jpg" alt="background image" height="700px" width="100%"/>
</div>
  <div class="row ">
      <div class="col md-4"></div>
      <div class="col md-4">
        <div class="form-box">
          <div class="header-text">
             Contact Us
          </div><input  placeholder="Your Your Name" type="text"><input placeholder="Enter Your Valid Email Address" type="text">
           <input placeholder="Enter Your Message" type="text" style="height: 20%;"><button type="btn btn-outline-primary">SENT</button>
        </div>
      </div>
      <div class="col md-4"></div>
  </div>



