<app-header></app-header>
<div class="background">
  <img src="../../assets/Images/Image_1.1.jpg" alt="background image" height="750px" width="100%"/>
</div>
<div class="row">
  <div class="col md-4"></div>
  <div class="col md-4">
    <div class="form-box">
      <div class="header-text">
          Ragistration Form
      </div>


      <input [(ngModel)]="name" required #username="ngModel" placeholder="Your Name" type="text">
      <span class="text-danger" *ngIf="username.errors?.required && username.touched">Name is required</span>

      <input [(ngModel)]="email" required #emailid="ngModel" placeholder="Your Email Address" type="text">
      <span class="text-danger" *ngIf="emailid.errors?.required && emailid.touched">Email is required</span>

       <input [(ngModel)]="password" required #pass="ngModel" placeholder="Your Password" type="password">
       <span class="text-danger" *ngIf="pass.errors?.required && pass.touched">Password is required</span>

     <button (click)="signupdata()">Register</button>
     <p style="text-align: center; color: white; font-weight: bold;">OR</p>
     <div>
       <button type="button" (click)="loginwithGoogle()" class="btn btn-outline-primary">Login with Google</button>
     </div>
    </div>
  </div>
  <div class="col md-4"></div>
</div>
