<app-header></app-header>
<div class="background">
  <img src="../../assets/Images/Image_1.1.jpg" alt="background image" height="750px" width="100%"/>
</div>
<div class="row">
  <div class="col md-4"></div>
  <div class="col md-4">
    <div class="form-box">
  <div class="header-text">
      Registration Form
  </div><input placeholder="Your Name" type="text"><input placeholder="Your Email Address" type="text">
   <input placeholder="Your Password" type="password">
  <input id="terms" type="checkbox"> <label for="terms"></label><span>Agree with <a href="#">Terms &
          Conditions</a>
  </span> <button>login</button>
  <div>
    <button type="button" (click)="loginWithGoogle()" class="btn btn-danger">Login with Google</button>
  </div>
</div>
  </div>
  <div class="col md-4"></div>
</div>

