<app-header></app-header>
<div class="background">
  <img src="../../assets/Images/Image_1.1.jpg" alt="background image" height="750px" width="100%"/>
</div>
<div class="row">
  <div class="col md-4"></div>
  <div class="col md-4">
    <div class="form-box">
      <div class="header-text">
          Ragistration Form
      </div><input [(ngModel)]="name" placeholder="Your Name" type="text"><input [(ngModel)]="email" placeholder="Your Email Address" type="text">
       <input [(ngModel)]="password" placeholder="Your Password" type="password">
      <input id="terms" type="checkbox"> <label for="terms"></label><span>Agree with <a href="#" style="justify-content: space-around;">Terms &
              Conditions</a>
      </span> <button (click)="signupdata()">login</button>
    </div>
  </div>
  <div class="col md-4"></div>
</div>