/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

:root{
  --skyblue : #AAC7C9;
  --black:#130f40;
  --light-color:#666;
  --box-shadow:2px 4px rgb(214, 239, 240);
  --border:2px solid rgba(0,0,0,0.1);
  --outline:1px solid rgba(0,0,0,0.1);
  --outline-hover : 2px solid rgba var(--black);
  --white:#ffffff;
}

*{
  font-family: 'Merriweather', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-transform: capitalize;
  transition:all .25 linear ;
  -webkit-transition:all .25 linear ;
  -moz-transition:all .25 linear ;
  -ms-transition:all .25 linear ;
  -o-transition:all .25 linear ;
}

