<div class="container mt-5">
  <div class="row">
    <div class="col md-6">
      <h3 style="text-align: center;">Price Details</h3>

      <p>Price (1 item)<span><i class="fa-solid fa-indian-rupee-sign"></i>39,000</span></p>
      <p>Discount<span>20%</span></p>
      <p>Delivery Charges <span>FREE</span></p>
      <hr>
      <p>Total Amount<span><i class="fa-solid fa-indian-rupee-sign"></i>39,000</span></p>
      <p>Please select your payment mode</p>
      <input type="radio"  name="payment" value="Cash on delivery">
      <label style="margin-left: 5px;" >Cash on delivery</label><br>
      <input type="radio"name="payment" value="EMI">
      <label style="margin-left: 5px;" >EMI</label><br>
      <input type="radio"  name="payment" value="Online">
      <label style="margin-left: 5px;">Online</label><br><br>
      <input type="button" class="btn btn-outline-primary" value="Place Order">

    </div>
    <div class="col md-6">
        <form>
          <label >Please enter your mobile number<span style="margin-left: 10px; margin-top: 10px;"> <input type="number"></span></label>
          <label>Please enter your email<span> <input type="email"></span></label>
          <label>Please enter your delivery address<span> <input type="text"></span></label>
        </form>
    </div>
  </div>
</div>
