<div class="container mt-5">
  <div class="row box">
    <h3 style="text-align: center;">Price Details</h3>
    <hr>
    <div class="col md-6">
      Total Products<input #quantity style="margin-left: 50px;" [value]="totalProducts">
      <p>Delivery Charges <span style="margin-left: 50px; color: red; font-weight: bold;"> FREE</span></p>

      Total Amount<input #amount style="margin-left: 50px;" [value]="totalPrice">
      <p>......................................................</p>
      <p >Please select your payment mode</p>
      <input #charge type="radio"  name="payment" value="Cash on delivery">
      <label #charge style="margin-left: 5px;" >Cash on delivery</label><br>
      <input type="radio"  name="payment" value="Online">
      <label style="margin-left: 5px;">Online</label><br><br>
      <a class="bt btn-dark" routerLink="/emi">FOR EMI</a><br>
      <input type="button" (click)="orderplaced(mobile.value,address.value,email.value,quantity.value,amount.value,'emi')" class="btn btn-outline-primary mt-3" value="Place Order">

    </div>

    <div class="col md-6 box">
       <label >Please enter your mobile no</label>
       <input #mobile type="number" class="form-control">
       <label style="margin-top: 15px;">Please enter your email</label>
       <input #email type="email" class="form-control">
       <label  style="margin-top: 15px;">Please enter your delivery address</label>
       <input #address type="text" class="form-control">
    </div>
  </div>
</div>
